# Environment variable files
*.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace file
go.work

# secrets for yml file
secrets

MOCK_DATA.sql

.gitignore
.gitattributes

# swagger
docs

# github
/.github

.vscode